
<% if (messages.error) { %>
    <p style="color: red"><%- messages.error %></p> 
<% } %>
<% if (messages.success) { %>
    <p style="color: red"><%- messages.success %></p> 
<% } %>
<form action="/users/edit/<%= id %>" method="post" name="form1">
    <input type="hidden" name="_method" value="PUT">
    <table width="25%" border="0">
        <tr>
            <td>Judul</td>
            <td><input type="text" name="judul" id="judul" value="<%= judul %>"></td>
        </tr>
        <tr>
            <td>Penulis</td>
            <td><input type="text" name="penulis" id="penulis" value="<%= penulis %>"></td>
        </tr>
        <tr>
            <td>Tahun</td>
            <td><input type="text" name="tahun" id="tahun" value="<%= tahun %>"></td>
        </tr>
        <tr>
            <td>Harga</td>
            <td><input type="text" name="harga" id="harga" value="<%= harga %>"></td>
        </tr>
        <tr>
            <td>Stok</td>
            <td><input type="text" name="no" id="no" value="<%= no %>"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="edit"/></td>
        </tr>
        
    </table>
</form>